<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AcessoBancoDados.Properties.Settings.SqlServer_ConnectionSetting"
            connectionString="Data Source=DEVELOP-PC;Initial Catalog=SOLIDfly;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>